.nftitle{
	position: relative;
	text-align: center;
	color: var(--text);
	font-size: 42px;
	text-align: center;
	top: 5rem
}


#nfTextl{
	font-size: 300px;
	left: 3%
}

#nfTextr{
	font-size: 300px;
	right: 3%;
}

#io{
	transform: translateY(47%);
}

#page{
	font-size: 30px;
}

#return{
	font-size: 15px;
}
