.page{
	position: relative;
	min-height: 100vh;
	top: 10px;
}

.page-content{
	position: relative;
	overflow: scroll;
	width: 60%;
	margin-left: 17%;
	font-size: 20px;
	top: 70px;
	height: 100%;
	overflow: visible;
}

/* text-gradient
background: -webkit-linear-gradient(left, var(--green), var(--blue));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
*/

#project-title{
	color: var(--green);
	margin-left: 41%;
}

.text{
	overflow: visible;;
	height: 100%;
	position: relative;
	top: 50px;
}

.small-title{
	font-size: 40px;
	height: 10px;
}

#home-content{
	position: relative;
    width: 40%;
    margin-left: 10%;
}

#projects{
	background-color: var(--bg-light);
}