/* Global page rules */

section{
	position: relative;
	min-height: 100vh;
	scroll-snap-type: y mandatory;
	text-align: center;
	align-items: center;

	position: relative;
	overflow: scroll;
	font-size: 20px;
	top: 70px;
	height: 100%;
	overflow: visible; 
	text-align: center;
	justify-content: center;
}

main{
	display: grid;
	grid-template-columns: 25vw 25vw 25vw 25vw;
	grid-template-rows: 50vh 50vh 50vh 25vh 25vh 25vh;
	align-items: center;
}

#home-title{
	grid-column-start: 2;
	grid-column-end: 4;
	font-size: 100px;
}

/* Home page */
#home-content{
	grid-column-start: 2;
	grid-column-end: 4;
	color: var(--text);
	font-size: 30px;
	height: 100%;
	text-decoration: none;
}


/* Projects page */

#project-title{
	grid-column-start: 2;
	grid-column-end: 4;
	font-size: 100px;
}

#xcrack{
	grid-column-start: 1;
	grid-column-end: 3;
}

#gwire{
	grid-column-start: 3;
	grid-column-end: 5;
}


@media only screen and (max-width: 1000px) {
	#home-title{
		grid-column-start: 1;
		grid-column-end: 5;
	}

	#home-content{
		grid-column-start: 1;
		grid-column-end: 5;
	}

	#project-title{
		grid-column-start: 1;
		grid-column-end: 5;
	}
}




/* Contact page rules */


#icons{
	grid-row: 6;
	grid-column-start: 2;
	grid-column-end: 4;
}

.icon{
	margin-left: 40px;
	margin-bottom: 10px;
	position: relative;
	left: -15px;
}

#github-icon{
	filter: invert(100%) sepia(15%) saturate(1348%) hue-rotate(274deg) brightness(123%) contrast(110%);
}