#info-gwire{
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

#home-icon {
    position: absolute;
    left: 10%;
    top: 50px;
    height: 50px;
	margin-bottom: 30px;
	filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(189deg) brightness(100%) contrast(112%);
}

#github{
    position: relative;
    top: 50px;
    left: 50px;
    height: 60px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(189deg) brightness(100%) contrast(112%);
}

.title{
    position: relative;
    top: 50px;
    font-size: 100px;
}


@media only screen and (max-width: 1000px) {
    #info-gwire{
        top: 60%;
        width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    #info-gwire{
        top: 70%;
        width: 90%;
    }

    #github{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 60px;
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(189deg) brightness(100%) contrast(112%);
    }
}

@media only screen and (max-height: 750px) and (max-width: 500px){
    #github{
        top: 35%;
    }

    #info-gwire{
        top: 100%;
        width: 90%;
    }
}