main{
	display: grid;
	grid-template-columns: 25vw 25vw 25vw 25vw;
	grid-template-rows: 25vh 50vh 30vh 25vh 50vh;
	align-items: center;
}


.title{
    color: #00ffff;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 100px;
}

#info-gwire{
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 30px;
}

#github{
    height: 60px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(189deg) brightness(100%) contrast(112%);
}

.download-link{
    color: #00ffff;
}


#downloads{
    grid-row: 4;
    grid-column-start: 0;
    grid-column-end: 3;
    width: 50vw;
    height: 10vh;
}

th, td {
    height: 50px;
    border: 1px solid;
    font-size: 20px;
}

th{
    font-style: bold;
    font-size: 25px;
}


@media only screen and (max-width: 1000px) {
    #info-gwire{
        grid-column-start: 1;
        grid-column-end: 5;
    }
}

@media only screen and (max-width: 700px) {
    #downloads{
        grid-row: 4;
        grid-column-start: 0;
        grid-column-end: 2;
        width: 100vw;
        height: 10vh;
    }

    .title{
        font-size: 50px;
        grid-column-start: 1;
        grid-column-end: 5;
    }

    #github-link, #github{
        width: 40px;
        grid-row: 1;
        grid-column: 1;
        margin-left: 5vw;
    }

    #info-gwire{
        font-size: 20px;
        width: 90%;
        margin-left: 4vw;
    }


    #github{
        height: 60px;
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(189deg) brightness(100%) contrast(112%);
    }
}

@media only screen and (max-width: 500px) {
    #downloads{
        grid-row: 5;
    }
}