#info-xcrack{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

#doc-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#docs{
    font-size: 20px;
    width: 70%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hash{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 500px;
}

#hash-title{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

#info-hash{
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
}

#hash-doc{
    position: absolute;
    left: 50%;
    top: 500%;
    transform: translate(-50%, -50%);
    width: 90%;
}

#hash-example{
    background-color: var(--bg-light);
    color: var(--text2)
}


@media only screen and (max-width: 600px) {
    #info-xcrack{
        width: 90%;
    }
}